[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
	action = fast forward only
[project]
	description = OpenBMC Repository - AMD Fork
[access "refs/*"]
	owner = group user/Supreeth Venkatesh (supven01)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Supreeth Venkatesh (supven01)
	label-Verified = -1..+1 group user/Supreeth Venkatesh (supven01)
	push = group user/Supreeth Venkatesh (supven01)
	read = group user/Supreeth Venkatesh (supven01)
	rebase = group user/Supreeth Venkatesh (supven01)
	removeReviewer = group user/Supreeth Venkatesh (supven01)
	submit = group user/Supreeth Venkatesh (supven01)
[access "refs/heads/*"]
	create = group user/Supreeth Venkatesh (supven01)
	push = +force group user/Supreeth Venkatesh (supven01)
	pushMerge = group user/Supreeth Venkatesh (supven01)
	read = group user/Supreeth Venkatesh (supven01)
[access "refs/tags/*"]
	push = group user/Supreeth Venkatesh (supven01)
	push = +force group user/Supreeth Venkatesh (supven01)
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[reviewer]
	enableByEmail = true
[change]
	workInProgressByDefault = true
